body {
    margin: 5px;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

.CodeMirror-scroll {
    height: auto;
}

.ui-widget {
    font-size: .9em;
}
